<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../public/javascripts/jquery-3.0.0.min.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../public/javascripts/showTimetables.js"></script>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <title>DIT Timetable</title>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand"><img src="../public/images/DIT_logo.png"></a>
          <!--<a class="navbar-brand"><span class="glyphicon glyphicon-refresh" id="refresh" onclick="getTimetablesFromInternet()"></span></a>-->
          <!--<a class="navbar-brand"><span class="glyphicon glyphicon-cog" id="setting"></span></a>-->
        </div>

        <form class="navbar-form navbar-right">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" placeholder="Filter by Courses Code" id="search" oninput="searchTimetable()">
          </div>
        </form>

      </div>
    </nav>

    <!-- list -->
    <div class="container" id="list">
      <div class="list-group" id="timetables">
      </div>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <button type="button" class="btn btn-primary btn-sm " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading" onclick="getTimetablesFromInternet()">Refresh</button>
      </div>
    </footer>
  </body>
</html>
